.banner-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: inline-block;
}

.banner-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
