$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: rgb(255, 255, 255);
$background-alternative-color: #e0fbfc;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Raleway&display=swap');

$header-font: 'Archivo Narrow', sans-serif;
$main-font: 'Raleway', sans-serif;
